body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(3, 68, 98);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: rgb(0, 245, 82);
  text-shadow: 0 0 3px white;
}


main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.card-members {
  background-color: rgb(117, 171, 241);
  border-radius: 10px;
  width: 33%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  text-align: center;
  padding: 1rem;
}

